.sc-bZQynM {
 width:75%; 
} 
 .sc-EHOje {
 height:35px !important; 
} 
 .sc-dnqmqq{height:35px !important;} .sc-gzVnrw {height:35px !important;} 
 .sc-bxivhb a {display:none;}
          .sc-bZQynM div { margin-left:10px; }
          .sc-bZQynM div svg { cursor: pointer; }
        